alembic
attrs
click
flasgger
Flask
Flask-Cors
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
gevent
greenlet
gunicorn
importlib-metadata
importlib-resources
iniconfig
itsdangerous
Jinja2
joblib
jsonschema
Mako
MarkupSafe
mistune
numpy
packaging
pandas
pluggy
py
pyparsing
pyrsistent
pytest
python-dateutil
pytz
PyYAML
scikit-learn
scipy
six
SQLAlchemy
threadpoolctl
tomli
Werkzeug
zipp
zope.event
zope.interface
torch 
torchvision 
torchaudio
ultralytics
